<div class='fb-edit-section-header'>Inserisci le varie opzioni</div>

<% if (typeof includeBlank !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' />
    Includi scelta vuota
  </label>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="checkbox" class='js-default-updated' data-rv-checked="option:checked" />
  <input type="text" data-rv-input="option:label" class='option-label-input' />
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Add Option"><i class='fa fa-plus'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Option"><i class='fa fa-trash-o'></i></a>
</div>

<% if (typeof includeOther !== 'undefined' && includeOther === true){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Includi "altro"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Aggiungi opzione</a>
</div>
